p.Menu {
    position: absolute;
    left: 20px;
}

#menuList {
    position: absolute;
    justify-content: center;
    width: 200px;
}

#slider {
    position: relative;
    left: 0px;
    width: 200px;
    background-color: #ffffff;
    background-color: #f7533d;
    z-index: 10;
    margin: 0;
}

p#menuTitle {
    position: relative;
    display: flex;
    text-align: center;
    color: #ffffff;
    justify-content: center;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: bold;
}

p#topic {
    position: relative;
    display: flex;
    text-align: center;
    background-color: #ffffff;
    border-radius: 16px;
    box-sizing: border-box;
    font-size: 16px;
    height: 36px;
    width: 160px;
    padding: 7px;
    margin: 18px auto;
    
}

p#topic:hover {
    transform: translateY(-5%);
    box-shadow: 0 1px 2px rgba(0,0,0,1);
    transform: scale(1.05, 1.05);
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    #slider {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 100;
    }
    #menuList {
        position: relative;
        justify-content: center;
    }
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
    
@keyframes slide-in {
    0% { width: 0px; transform: translateX(-100%); opacity: 0; visibility: hidden;}
    50% { opacity: 0;}
    100% { width: 200px; transform: translateX(0%); opacity: 1; visibility: visible;}
}

@-webkit-keyframes slide-in {
    0% { width: 0px; transform: translateX(-100%); opacity: 0; visibility: hidden;}
    50% { opacity: 0;}
    100% { width: 200px; transform: translateX(0%); opacity: 1; visibility: visible;}
}
    
@keyframes slide-out {
    0% { width: 200px; transform: translateX(0%); opacity: 1; visibility: visible;}
    50% { opacity: 0;}
    100% { width: 0px; transform: translateX(-100%); opacity: 0; visibility: hidden;}
}

@-webkit-keyframes slide-out {
    0% { width: 200px; transform: translateX(0%); opacity: 1; visibility: visible;}
    50% { opacity: 0;}
    100% { width: 0px; transform: translateX(-100%); opacity: 0; visibility: hidden;}
}