.Comment{
    word-wrap:break-word;
    word-break:break-all;
    box-sizing: border-box;
    margin: 12px 0 0 0;
    border: solid 1px #f7533d;
    border-radius: 12px;
    padding: 8px;
}

.CommentMarkdown p{
    margin: 0;
}

#commentLoading {
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
}

#close:hover {
    background-color: #ffffff;
    color: #f7533d;
}