.Comment {
    position: relative;
    height: auto;
    max-width: calc(100% - 96px);
    left: 72px;
    margin-bottom: 24px;
}

.CommentMarkdown{
    word-wrap:break-word;
    word-break:break-all;
    box-sizing: border-box;
    margin: 18px 0;
    border: solid 1px #f7533d;
    border-radius: 12px;
    padding: 12px;
}

.CommentMarkdown p{
    margin: 0;
}

#commentLoading {
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
}

#close {
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    background-color: #f7533d;
    border: solid 2px  #f7533d;
    border-radius: 12px;
    padding: 6px;
}

#close:hover {
    background-color: #ffffff;
    color: #f7533d;
}