.Card {
    position: relative;
    border: solid #f7533d;
    box-sizing: border-box;
    border-width: 1px;
    height: auto;
    margin: 24px calc(50% - 360px) 0 calc(50% - 360px);
    background: #FFFFFF;
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 24px;

}

.Card.hide{
    animation: bounce-out 0.5s ease-in;
}

@keyframes bounce-out{
    0%    {opacity: 1;   max-height: 1000px;}
    100%  {opacity: 0;  max-height: 0px;}
}

.UpIcon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 24px;
    top: 24px;
}

.DownIcon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 24px;
    top: 72px;
}

.CardContent {
    position: relative;
    display: grid;
    max-width: calc(100% - 96px);
    left: 72px;
    margin-top: 24px;
    margin-bottom: 0;
}

.Vote {
    position: absolute;
    width: 36px;
    height: 24px;
    left: 18px;
    top: 48px;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #000000;
}

.Channel {
    position: relative;
    height: 12px;
    margin: 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    display: flex;
    align-items: center;

    color: #505050;
}

strong {
    white-space: break-spaces;
}

.Title {
    position: relative;
    height: auto;
    margin: 12px 0;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #000000;
}


.MediaContainer {
    position: relative;
    max-width: 100%;
    height: auto;
    margin-top: 16px;
}

.MediaContainer #image {
    position: relative;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.MediaContainer #video {
    position: relative;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.MediaContainer #link {
    font-family: 'Inter';
    font-style: normal;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: right;
    justify-content: right;
    color: #bebebe;
}

a:link { 
    text-decoration: none;
    color: #000000; 
}
a:hover { 
    text-decoration: none; 
    background: #dedede;
    border-radius: 4px;
}
a::after { text-decoration: none; }

.CardFunction {
    position: relative;
    height: 24px;
    max-width: calc(100% - 96px);
    left: 72px;
    margin: 18px 0;
    color: #000000; 
}

#commentIcon {
    position: absolute;
    width: 24px;
    height: 24px;
}

.Comment {
    position: absolute;
    height: 24px;
    left: 36px;
    margin: 0;
    width: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    vertical-align: center;
    color: #606060;
}

#hideIcon {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 0px;
    border-radius: 4px;
}

#hideIcon:hover {
    background: #dedede;
}

@media only screen and (max-width: 768px) {
    .Card {
        margin: 24px 24px 0 24px;
    }

    .CardContent {
        margin-top: 8px;
        left: 60px;
        max-width: calc(100% - 84px);
    }

    .Vote {
        left: 12px;
    }

    .DownIcon,
    .UpIcon {
        left: 18px;
    }
    .MediaContainer {
        margin-top: 0;
    }
    .Title {
        font-size: 15px;
        line-height: 15px;
        margin-top: 6px;
    }
    .Channel {
        font-size: 10px;
    }
    .Comment {
        font-size: 15px;
        margin-top: 2px;
    }
    .MediaContainer #link {
        font-size: 15px;
    }
    .CardFunction {
        margin-top: 4px;
        margin-bottom: 6px;
        left: 60px;
        max-width: calc(100% - 84px);
    }
}
