.Header {
    position: sticky;
    width: 100%;
    height: 48px;
    top: 0px;
    background: #FFFFFF;
    z-index: 10000;
}

#title {
    position: absolute;
    height: 28px;
    left: 30%;
    right: 30%;
    top: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #000000;
    
}

#searchIcon {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 8px;
    top: 8px;
    
}

#searchIcon:hover {
    background: #EEEEEE;
    border-radius: 6px;
    
}

#searchIcon:active {
    background: #d0d0d0;
    
}

#refreshIcon {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 8px;
    top: 8px;
}

#refreshIcon:hover {
    border-radius: 6px;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#koroneIcon {
    position: absolute;
    height: 48px;
    left: 53.44%;
    right: 30.03%;
    top: 0px;
}